<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 50%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  <title>Detail Order</title>
  </head>

  <body>
  <center><h3>User Detail Order</h3><center><br>
  <a href="/client/add"><button type="Submit" name="Add">Add New Client</button></a>
  <a href=""><button type="Submit" name="Add">Log Out</button></a>
  <br><br>
  <form action="/detailorder" method="POST">
  <center>
  <table>
    <tr>
      <th><center>ID</center></th>
      <th><center>Client ID</center></th>
      <th><center>Client Name</center></th>
      <th><center>Clothes</center></th>
      <th><center>Quantity</center></th>
      <th><center>Option</center></th>
    </tr>
    <tr>
      <td>Cuma data ejs</td>
      <td>Cuma data ejs</td>
      <td>Cuma data ejs</td>
      <td>Cuma data ejs</td>
      <td>Cuma data ejs</td>
      <td><a href=""><button type="button" name="Edit">EDIT</button></a></td>
      </tr>
    </table>
  </center>
    </form>
  </body>
</html>
