<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<body>
  <center>
    <h1>Order</h1><br>
    <form action="" method="POST">
      <br><br>
      <table>
        <tr>
          <th>Id</th>
          <th>Type</th>
          <th>Price</th>
          <th>Check</th>
          <th>Quantity</th>
        </tr>

        <tr>
          <td>1</td>
          <td>Baju</td>
          <td>2000</td>

          <td><input type="checkbox" name="vehicle" value="sempak" class="btn btn-default"></td>
          <td><input  placeholder="Jumlah...." name="type"></td>
        </tr>

      </table>
      <br><br>
      <input type="submit" class="btn btn-primary" name="" value="Order"></input>
    </form>
  </center>
</body>

</html>
